.mHeader {
    font-family: Roboto Regular,Arial,sans-serif;
    background: #fff;
    color: #323a42;
    height: 72px;
    display: flex;
    -webkit-box-pack: center;
    box-shadow: 0 2px 8px 2px rgba(0,0,0,.05);
    margin-bottom: 20px;
}

.headWrapper {
    max-width: 1224px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 100%;
}
.headTitle {
    box-sizing: border-box;
    margin-left: 0;
    width: calc(33.333333333333336% - 16px);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 20px;
}