.footer {
    width: 100%;
    font-size: 18px;
    line-height: 1.5;
    background: #0097A7;
    height: 40px;
    padding-top: 15px;
    color: #fff;
}

@media screen and (min-width: 701px) {
    .footer {
        position: absolute;
        bottom: 0;
    }
}